body {
  font: 10px sans-serif;
}
.bar rect {
  shape-rendering: crispEdges;
}
.bar rect.Ja {fill: blue}
.bar rect.Nein {fill: SteelBlue}
.bar text {
  fill: #fff;
}
.bar .tooltip {
  fill: #000;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis path {visibility: hidden}
